.ebgb-pricing {
	-webkit-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ebgb-pricing .ebgb-pricing-item {
	width: 100%;
	height: auto;
	margin: 0;
}

.ebgb-pricing .ebgb-pricing-button {
	padding: 12px 25px;
	background: #00c853;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 4px;
}

.ebgb-pricing .ebgb-pricing-button:hover {
	background: #03b048;
}

.ebgb-pricing .ebgb-pricing-item ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.ebgb-pricing .ebgb-pricing-item ul li.disable-item {
	text-decoration: line-through;
	opacity: 0.5;
}

.ebgb-pricing .ebgb-pricing-item ul li span.li-icon {
	color: #00c853;
	margin-right: 6px;
}

.ebgb-pricing .ebgb-pricing-item ul li.disable-item span.li-icon {
	color: #ef5350;
}

.ebgb-pricing .original-price.line-through {
	text-decoration: line-through;
	padding-right: 8px;
}

/*--- Pricing Table: Style 1 ---*/

.ebgb-pricing.style-1 {
	position: relative;
	z-index: 0;
	text-align: center;
}

.ebgb-pricing.style-1 .ebgb-pricing-item {
	border: 1px solid rgba(9, 9, 9, 0.1);
	padding: 30px;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.ebgb-pricing.style-1 .ebgb-pricing-item:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ebgb-pricing.style-1 .ebgb-pricing-item.featured {
	position: relative;
}

.ebgb-pricing.style-1 .ebgb-pricing-item.ribbon-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #00c853;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 5px 5px 0px 0px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item.ribbon-2:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 35px;
	right: -15px;
	z-index: 10;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item.ribbon-2:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -15px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #00c853;
	border-right: 15px solid transparent;
	z-index: 9;
	opacity: 0.9;
}

.ebgb-pricing.style-1 .ebgb-pricing-item.ribbon-3:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 15px;
}

.ebgb-pricing .ebgb-pricing-item .ebgb-pricing-image.ribbon-4:before,
.ebgb-pricing .ebgb-pricing-item.ribbon-4:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 30px;
	right: -55px;
	z-index: 10;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 200px;
	padding: 7px 0;
	white-space: nowrap;
}

.ebgb-pricing
	.ebgb-pricing-item
	.ebgb-pricing-image.ribbon-left.ribbon-4:before,
.ebgb-pricing .ebgb-pricing-item.ribbon-left.ribbon-4:before {
	right: auto;
	left: -55px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.ebgb-pricing.style-1 .ebgb-pricing-item .header {
	display: block;
	position: relative;
	z-index: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .header:after {
	content: "";
	position: absolute;
	width: 140px;
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	background: rgba(9, 9, 9, 0.1);
}

.ebgb-pricing.style-1 .ebgb-pricing-item .header .ebgb-pricing-title {
	font-weight: 700;
	line-height: 30px;
	margin: 0px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .ebgb-pricing-tag {
	position: relative;
	z-index: 0;
	padding: 15px 0px;
	margin-bottom: 15px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .ebgb-pricing-tag:after {
	content: "";
	position: absolute;
	width: 140px;
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	background: rgba(9, 9, 9, 0.04);
}

.ebgb-pricing.style-1 .ebgb-pricing-item .price-tag {
	position: relative;
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
	line-height: 0px;
	margin: 0px auto;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .price-tag .price-currency {
	font-size: 24px;
	font-weight: 700;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .price-period {
	color: #999;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .body ul {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.ebgb-pricing.style-1 .ebgb-pricing-item .body ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	font-size: 14px;
	color: #6d6d6d;
	border-bottom: 1px solid rgba(9, 9, 9, 0.04);
}

.ebgb-pricing.style-1 .ebgb-pricing-item .body ul li:last-child {
	border: none;
}

.ebgb-pricing.style-1 .ebgb-pricing-item.featured-large {
	padding: 60px 0px;
}

/*--- Pricing Table : Style 2 ---*/

.ebgb-pricing.style-2 {
	position: relative;
	z-index: 0;
	text-align: center;
}

.ebgb-pricing.style-2 .ebgb-pricing-item {
	padding: 30px 0px;
	border-radius: 5px;
	margin: 0px;
	border: 1px solid rgba(9, 9, 9, 0.1);
}

.ebgb-pricing.style-2 .ebgb-pricing-item.featured {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ebgb-pricing.style-2 .ebgb-pricing-item.ribbon-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #00c853;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 5px 5px 0px 0px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item.ribbon-2:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 35px;
	right: -15px;
	z-index: 10;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item.ribbon-2:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -15px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #00c853;
	border-right: 15px solid transparent;
	z-index: 9;
	opacity: 0.9;
}

.ebgb-pricing.style-2 .ebgb-pricing-item.ribbon-3:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 15px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-icon .icon {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	background: #00c853;
	border-radius: 50%;
	margin-bottom: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	overflow: hidden;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-icon,
.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-icon .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-icon .icon i {
	font-size: 30px;
	color: #fff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.ebgb-pricing.style-2 .ebgb-pricing-item:hover .ebgb-pricing-icon .icon {
	background: #43a047;
}

.ebgb-pricing.style-2 .ebgb-pricing-item:hover .ebgb-pricing-icon .icon i {
	color: #fff;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .header {
	background: #c8e6c9;
	padding: 25px 30px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
}

.ebgb-pricing.style-2 .ebgb-pricing-item.featured .header:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	background: rgba(255, 255, 255, 0.4);
}

.ebgb-pricing.style-2 .ebgb-pricing-item .header .ebgb-pricing-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	margin: 0px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .header .subititle {
	font-size: 14px;
	font-weight: 600;
	color: #6d6d6d;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-tag {
	position: relative;
	z-index: 0;
	padding: 15px 0px;
	margin-bottom: 15px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .ebgb-pricing-tag:after {
	content: "";
	position: absolute;
	width: 140px;
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	background: rgba(9, 9, 9, 0.04);
}

.ebgb-pricing.style-2 .ebgb-pricing-item .price-tag {
	position: relative;
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
	line-height: 0px;
	margin: 0px auto;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .price-tag .price-currency {
	font-size: 24px;
	font-weight: 700;
	color: #00c853;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .price-period {
	color: #999;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .body ul {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.ebgb-pricing.style-2 .ebgb-pricing-item .body ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 15px;
	font-size: 14px;
	color: #6d6d6d;
	border-bottom: 1px solid rgba(9, 9, 9, 0.04);
}

.ebgb-pricing.style-2 .ebgb-pricing-item .body ul li:last-child {
	border: none;
}

/*--- Media Query ---*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.ebgb-pricing {
		display: block;
	}

	.ebgb-pricing .ebgb-pricing-item,
	.ebgb-pricing.style-2 .ebgb-pricing-item,
	.ebgb-pricing.style-4 .ebgb-pricing-item {
		width: 100%;
		margin: 0 auto 30px auto;
	}
}

@media only screen and (max-width: 480px) {
	.ebgb-pricing {
		display: block;
	}

	.ebgb-pricing .ebgb-pricing-item {
		width: 100%;
	}

	.ebgb-pricing .ebgb-pricing-item,
	.ebgb-pricing.style-2 .ebgb-pricing-item,
	.ebgb-pricing.style-4 .ebgb-pricing-item {
		margin: 0 auto 30px auto;
	}
}

/*--- Page Builder Related Style ---*/

.ebgb-pricing-content-align-center .ebgb-pricing {
	text-align: center;
}

.ebgb-pricing-content-align-left .ebgb-pricing {
	text-align: left;
}

.ebgb-pricing-content-align-right .ebgb-pricing {
	text-align: right;
}

.ebgb-pricing-content-align-center .ebgb-pricing.style-4 {
	text-align: center;
}

.ebgb-pricing-content-align-left .ebgb-pricing.style-4 {
	text-align: left;
}

.ebgb-pricing-content-align-right .ebgb-pricing.style-4 {
	text-align: right;
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.price-tag {
	padding-left: 45px;
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.price-tag:before {
	left: 30px;
}

.ebgb-pricing-content-align-right
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.ebgb-pricing-tag {
	padding-right: 30px;
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.header,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.footer,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.header,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.footer {
	padding-left: 30px;
	padding-right: 30px;
}

.ebgb-pricing-content-align-right
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.header,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.footer,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.header,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.footer {
	padding-right: 30px;
	padding-left: 30px;
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.body
	ul
	li,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.body
	ul
	li {
	padding-left: 30px;
}

.ebgb-pricing-content-align-right
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.body
	ul
	li,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-4
	.ebgb-pricing-item
	.body
	ul
	li {
	padding-right: 30px;
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-3
	.ebgb-pricing-item
	.header:after {
	-webkit-transform: translateX(-80%);
	-ms-transform: translateX(-80%);
	transform: translateX(-80%);
}

.ebgb-pricing-content-align-right
	.ebgb-pricing.style-3
	.ebgb-pricing-item
	.header:after {
	-webkit-transform: translateX(80%);
	-ms-transform: translateX(80%);
	transform: translateX(80%);
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-3
	.ebgb-pricing-item:hover
	.header:after,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-3
	.ebgb-pricing-item:hover
	.header:after {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.ebgb-pricing-content-align-left
	.ebgb-pricing.style-1
	.ebgb-pricing-item
	.header:after,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-1
	.ebgb-pricing-item
	.header:after,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-1
	.ebgb-pricing-item
	.ebgb-pricing-tag:after,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-1
	.ebgb-pricing-item
	.ebgb-pricing-tag:after,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.ebgb-pricing-tag:after,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-2
	.ebgb-pricing-item
	.ebgb-pricing-tag:after {
	margin: 0;
	width: 100%;
}

/*--- Button Alignment ---*/

.ebgb-pricing-button-align-right .ebgb-pricing.style-1 .footer,
.ebgb-pricing-button-align-right .ebgb-pricing.style-2 .footer,
.ebgb-pricing-button-align-right .ebgb-pricing.style-3 .footer,
.ebgb-pricing-button-align-right .ebgb-pricing.style-4 .footer {
	text-align: right;
}

.ebgb-pricing-button-align-center .ebgb-pricing.style-1 .footer,
.ebgb-pricing-button-align-center .ebgb-pricing.style-2 .footer,
.ebgb-pricing-button-align-center .ebgb-pricing.style-3 .footer,
.ebgb-pricing-button-align-center .ebgb-pricing.style-4 .footer {
	text-align: center;
}

.ebgb-pricing-button-align-left .ebgb-pricing.style-1 .footer,
.ebgb-pricing-button-align-left .ebgb-pricing.style-2 .footer,
.ebgb-pricing-button-align-left .ebgb-pricing.style-3 .footer,
.ebgb-pricing-button-align-left .ebgb-pricing.style-4 .footer {
	text-align: left;
}

.ebgb-pricing-content-align-center.ebgb-pricing-button-align-right
	.ebgb-pricing.style-2
	.footer,
.ebgb-pricing-content-align-center.ebgb-pricing-button-align-right
	.ebgb-pricing.style-4
	.footer {
	padding-right: 30px;
}

.ebgb-pricing-content-align-center.ebgb-pricing-button-align-left
	.ebgb-pricing.style-2
	.footer,
.ebgb-pricing-content-align-center.ebgb-pricing-button-align-left
	.ebgb-pricing.style-4
	.footer {
	padding-left: 30px;
}

/*--- Only In Pro Alert ---*/

.only-in-pro {
	width: 100%;
	-webkit-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 15px;
	min-width: 200px;
	background: #ef5350;
	color: #fff;
	text-align: center;
}

.only-in-pro .ebgb-pricing-title {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	line-height: 40px;
	margin: 0px;
}

/*--- Pricing Table Tooltip ---*/

div.tooltipster-sidetip.tooltipster-base.tooltipster-right .tooltipster-arrow {
	position: absolute;
	top: 50%;
}

div.tooltipster-sidetip.tooltipster-top div.tooltipster-box {
	margin-bottom: 0px !important;
}

div.tooltipster-sidetip.tooltipster-bottom div.tooltipster-box {
	margin-top: 0px !important;
}

.tooltipster-base.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
	top: auto;
	bottom: -8px;
}

div.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
	top: -8px;
	bottom: auto;
}

@media only screen and (max-width: 480px) {
	.ebgb-pricing.style-1 .ebgb-pricing-item .price-tag {
		display: block;
	}
}
/*--- Pricing Table: Style 3 ---*/
.ebgb-pricing.style-3 .ebgb-pricing-item {
	background: #262c37;
	padding: 30px;
	color: #fff;
}
.ebgb-pricing.style-3 .ebgb-pricing-item.featured {
	position: relative;
	z-index: 0;
}
.ebgb-pricing.style-3 .ebgb-pricing-item.ribbon-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #e25a77;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 5px 5px 0px 0px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item.ribbon-2:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #e25a77;
	color: #fff;
	top: 35px;
	right: -15px;
	z-index: 10;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item.ribbon-2:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -15px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #bf4a63;
	border-right: 15px solid transparent;
	z-index: 9;
	opacity: 0.9;
}
.ebgb-pricing.style-3 .ebgb-pricing-item.ribbon-3:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #e25a77;
	color: #fff;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 15px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .header {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	z-index: 0;
	overflow: hidden;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .header:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-transform: scaleX(0.4);
	-ms-transform: scaleX(0.4);
	transform: scaleX(0.4);
	background: #e25a77;
}
.ebgb-pricing.style-3 .ebgb-pricing-item:hover .header:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
.ebgb-pricing.style-3 .ebgb-pricing-item .header .ebgb-pricing-title {
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 40px;
	margin: 0px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .header .ebgb-pricing-subtitle {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}
.ebgb-pricing.style-3 .ebgb-pricing-item .ebgb-pricing-tag {
	margin-bottom: 30px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .ebgb-pricing-tag .price-tag {
	position: relative;
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	line-height: 0px;
	padding-left: 12px;
	z-index: 0;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .price-tag .price-currency {
	font-size: 24px;
	font-weight: 700;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .body ul {
	margin-bottom: 30px;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .body ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid rgba(9, 9, 9, 0.04);
}
.ebgb-pricing.style-3 .ebgb-pricing-item .body ul li:last-child {
	border: none;
}
.ebgb-pricing.style-3 .ebgb-pricing-item .ebgb-pricing-tag.on-top {
	margin-top: 15px;
	margin-bottom: 15px;
}
/*--- Pricing Table : Style 4 ---*/
.ebgb-pricing.style-4 {
	position: relative;
	z-index: 0;
	text-align: center;
	padding: 0px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item {
	padding: 0px 0px 30px 0px;
	border-radius: 5px;
	margin: 0px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.ebgb-pricing.style-4 .ebgb-pricing-item.ribbon-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #00c853;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 5px 5px 0px 0px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item.ribbon-2:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 35px;
	right: -15px;
	z-index: 10;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item.ribbon-2:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -15px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #00c853;
	border-right: 15px solid transparent;
	z-index: 9;
	opacity: 0.9;
}
.ebgb-pricing.style-4 .ebgb-pricing-item.ribbon-3:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 15px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.ebgb-pricing.style-4 .ebgb-pricing-item .header {
	background: #c8e6c9;
	padding: 25px 0px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .header .ebgb-pricing-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	margin: 0px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .header .subititle {
	font-size: 14px;
	font-weight: 600;
	color: #6d6d6d;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .ebgb-pricing-tag {
	position: relative;
	z-index: 0;
	padding: 15px 0px;
	margin-bottom: 15px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .price-tag {
	position: relative;
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
	line-height: 0px;
	margin: 0px auto;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .price-tag .price-currency {
	font-size: 24px;
	font-weight: 700;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .price-period {
	color: #999;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .body ul {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .body ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	font-size: 14px;
	color: #6d6d6d;
	border-bottom: 1px solid rgba(9, 9, 9, 0.04);
}
.ebgb-pricing.style-4 .ebgb-pricing-item .body ul li:last-child {
	border: none;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .ebgb-pricing-image {
	position: relative;
	-webkit-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	width: 100%;
	height: 120px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15px;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .ebgb-pricing-image:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.ebgb-pricing.style-4 .ebgb-pricing-item .ebgb-pricing-image .ebgb-pricing-tag {
	padding: 0px;
	margin: 0px;
}
.ebgb-pricing.style-4
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-tag {
	font-size: 48px;
	font-weight: 700;
	line-height: 0px;
	margin-bottom: 0px;
}
.ebgb-pricing.style-4
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-tag:before {
	font-size: 24px;
	top: -20px;
	left: -18px;
}
.ebgb-pricing.style-4
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-period {
	font-size: 13px;
	font-weight: 600;
}
/*--- Pricing Table : Style 5 ---*/
.ebgb-pricing.style-5 {
	position: relative;
	z-index: 0;
	text-align: center;
	padding: 0px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item {
	padding: 0px 0px 30px 0px;
	border-radius: 5px;
	margin: 0px;
	border: 1px solid rgba(9, 9, 9, 0.1);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image.ribbon-1:before,
.ebgb-pricing.style-5 .ebgb-pricing-item.ribbon-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #00c853;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 5px 5px 0px 0px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image.ribbon-2:before,
.ebgb-pricing.style-5 .ebgb-pricing-item.ribbon-2:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 35px;
	right: -15px;
	z-index: 10;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image.ribbon-2:after,
.ebgb-pricing.style-5 .ebgb-pricing-item.ribbon-2:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -15px;
	width: 0;
	height: 0;
	border-bottom: 15px solid #00c853;
	border-right: 15px solid transparent;
	z-index: 9;
	opacity: 0.9;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image.ribbon-3:before,
.ebgb-pricing.style-5 .ebgb-pricing-item.ribbon-3:before {
	content: "Featured";
	position: absolute;
	width: auto;
	background: #00c853;
	color: #fff;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 15px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .header {
	padding: 25px 0px;
	position: relative;
	margin-bottom: 0;
	z-index: 0;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .header .ebgb-pricing-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	margin: 0px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .header .ebgb-pricing-title.inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .header .ebgb-pricing-subtitle {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #6d6d6d;
}
.ebgb-pricing.style-5 .ebgb-pricing-item > .ebgb-pricing-image {
	background: #c8e6c9;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-tag {
	position: relative;
	z-index: 0;
	padding: 15px 0px;
	margin-bottom: 15px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-tag .price-tag {
	position: relative;
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
	line-height: 0px;
	margin: 0px auto;
	color: #333;
}
.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-tag
	.price-tag
	.price-currency {
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-tag .price-period {
	color: #333;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-icon.inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-icon .icon {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #00c853;
	border-radius: 50%;
	margin-bottom: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .body ul {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .body ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	font-size: 14px;
	color: #6d6d6d;
	border-bottom: 1px solid rgba(9, 9, 9, 0.04);
}
.ebgb-pricing.style-5 .ebgb-pricing-item .body ul li:last-child {
	border: none;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image {
	position: relative;
	-webkit-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	width: 100%;
	height: 120px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15px;
}
.ebgb-pricing.style-5 .ebgb-pricing-item .ebgb-pricing-image .ebgb-pricing-tag {
	padding: 0px;
	margin: 0px;
}
.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-tag {
	font-size: 48px;
	font-weight: 700;
	line-height: 0px;
	margin-bottom: 0px;
}
.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-tag:before {
	font-size: 24px;
	top: -20px;
	left: -18px;
}
.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image
	.ebgb-pricing-tag
	.price-period {
	font-size: 13px;
	font-weight: 600;
}
.ebgb-pricing.style-5 .ebgb-pricing-item:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.ebgb-pricing-content-align-left .ebgb-pricing.style-5 .body,
.ebgb-pricing-content-align-left .ebgb-pricing.style-5 .header {
	text-align: left;
}
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image,
.ebgb-pricing-content-align-left
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-icon
	.icon {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.ebgb-pricing-content-align-center .ebgb-pricing.style-5 .body,
.ebgb-pricing-content-align-center .ebgb-pricing.style-5 .header {
	text-align: center;
}
.ebgb-pricing-content-align-center
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image,
.ebgb-pricing-content-align-center
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-icon
	.icon {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.ebgb-pricing-content-align-right .ebgb-pricing.style-5 .body,
.ebgb-pricing-content-align-right .ebgb-pricing.style-5 .header {
	text-align: right;
}
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-image,
.ebgb-pricing-content-align-right
	.ebgb-pricing.style-5
	.ebgb-pricing-item
	.ebgb-pricing-icon
	.icon {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.ebgb-pricing-button-align-left .ebgb-pricing.style-5 .footer {
	text-align: left;
}
.ebgb-pricing-button-align-center .ebgb-pricing.style-5 .footer {
	text-align: center;
}
.ebgb-pricing-button-align-right .ebgb-pricing.style-5 .footer {
	text-align: right;
}
@media all and (min-width: 768px) and (max-width: 1140px) {
	.ebgb-pricing-content-align-tablet-left .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-tablet-left .ebgb-pricing.style-5 .header {
		text-align: left;
	}
	.ebgb-pricing-content-align-tablet-left
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-tablet-left
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.ebgb-pricing-content-align-tablet-center .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-tablet-center .ebgb-pricing.style-5 .header {
		text-align: center;
	}
	.ebgb-pricing-content-align-tablet-center
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-tablet-center
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.ebgb-pricing-content-align-tablet-right .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-tablet-right .ebgb-pricing.style-5 .header {
		text-align: right;
	}
	.ebgb-pricing-content-align-tablet-right
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-tablet-right
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.ebgb-pricing-button-align-tablet-left .ebgb-pricing.style-5 .footer {
		text-align: left;
	}

	.ebgb-pricing-button-align-tablet-center .ebgb-pricing.style-5 .footer {
		text-align: center;
	}

	.ebgb-pricing-button-align-tablet-right .ebgb-pricing.style-5 .footer {
		text-align: right;
	}
}
@media all and (max-width: 767px) {
	.ebgb-pricing-content-align-mobile-left .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-mobile-left .ebgb-pricing.style-5 .header {
		text-align: left;
	}
	.ebgb-pricing-content-align-mobile-left
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-mobile-left
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.ebgb-pricing-content-align-mobile-center .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-mobile-center .ebgb-pricing.style-5 .header {
		text-align: center;
	}
	.ebgb-pricing-content-align-mobile-center
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-mobile-center
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.ebgb-pricing-content-align-mobile-right .ebgb-pricing.style-5 .body,
	.ebgb-pricing-content-align-mobile-right .ebgb-pricing.style-5 .header {
		text-align: right;
	}
	.ebgb-pricing-content-align-mobile-right
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-image,
	.ebgb-pricing-content-align-mobile-right
		.ebgb-pricing.style-5
		.ebgb-pricing-item
		.ebgb-pricing-icon
		.icon {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.ebgb-pricing-button-align-mobile-left .ebgb-pricing.style-5 .footer {
		text-align: left;
	}

	.ebgb-pricing-button-align-mobile-center .ebgb-pricing.style-5 .footer {
		text-align: center;
	}

	.ebgb-pricing-button-align-mobile-right .ebgb-pricing.style-5 .footer {
		text-align: right;
	}
}
/*--- Media Query ---*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.ebgb-pricing {
		display: block;
	}

	.ebgb-pricing .ebgb-pricing-item,
	.ebgb-pricing.style-2 .ebgb-pricing-item,
	.ebgb-pricing.style-4 .ebgb-pricing-item {
		width: 100%;
		margin: 0 auto 30px auto;
	}
}
@media only screen and (max-width: 480px) {
	.ebgb-pricing {
		display: block;
	}

	.ebgb-pricing .ebgb-pricing-item {
		width: 100%;
	}

	.ebgb-pricing .ebgb-pricing-item,
	.ebgb-pricing.style-2 .ebgb-pricing-item,
	.ebgb-pricing.style-4 .ebgb-pricing-item {
		margin: 0 auto 30px auto;
	}
}
/* ---- Pricing Table Tooltip ----*/
div.tooltipster-sidetip.tooltipster-base.tooltipster-right .tooltipster-arrow {
	position: absolute;
	top: 50%;
}
div.tooltipster-sidetip.tooltipster-top div.tooltipster-box {
	margin-bottom: 0px !important;
}
div.tooltipster-sidetip.tooltipster-bottom div.tooltipster-box {
	margin-top: 0px !important;
}
.tooltipster-base.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
	top: auto;
	bottom: -8px;
}
div.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
	top: -8px;
	bottom: auto;
}

/**
 * old css
 */

.eb-pricebox-features li {
	margin: 10px auto;
	border-bottom: 1px solid #eee;
}

.eb-pricebox-price {
	margin: 0;
}

.eb-pricebox-feature-button {
	margin: 0 auto;
}

.eb-pricebox-icon {
	padding-right: 10px;
}

// Sortable Styles
.eb-pricebox-sortable-item {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	line-height: 2.5em;
}

.eb-pricebox-sortable-title {
	flex: 12;
	padding-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
}

.eb-pricebox-sortable-trash {
	font-size: 16px;
	border-left: 1px solid gray;
	line-height: 2.5em;
	flex: 1;
	text-align: center;
	padding: 8px;
}
.eb-pricebox-sortable-trash:hover {
	background: #f44336;
	color: #ffffff;
	cursor: pointer;
}

.eb-pricebox-sortable-title:hover {
	cursor: pointer;
}

.eb-pricebox-button {
	line-height: inherit;
}

.eb-pricebox-add-button-label {
	margin-left: 10px;
}

.eb-pricebox-features {
	margin: 0;
	padding: 0;
}

.eb-pricebox-wrapper p {
	margin-bottom: 0;
}
